{% assign p = page %}
{% capture url %}{{ site.url }}{{ p.url | remove: '.html' }}{% endcapture %}

<article class="post {{ p.category | downcase | remove: ' ' }}" role="main">

  {% if p.image %}
  {% assign i = p.image %}
  <figure class="post-image">
    <img src="/images/{{ i.src }}" alt="Feature image of this article">
    {% if i.credit %}
    <figcaption>Credit: <a href="{{ i.creditlink }}">{{ i.credit }}</a></figcaption>
    {% elsif i.caption %}
    <figcaption>{{ i.caption }}</figcaption>
    {% endif %}
  </figure>
  {% endif %}

  <div class="post-inner">
    <header class="post-header">
      <h1 class="post-title">{{ p.title }}</h1>
      <div class="post-meta">
        <p class="post-date" title="Created">
          <span class="icon-clock"></span>
          <time datetime="{{ p.date | date: '%Y-%m-%d' }}">
            {{ p.date | date: '%B %-d, %Y' }}
          </time>
        </p>
        {% if p.modified %}
        <p class="post-modified" title="Modified">
          <span class="icon-pencil"></span>
          <time datetime="{{ p.modified | date: '%Y-%m-%d' }}">
            {{ p.modified | date: '%B %-d, %Y' }}
          </time>
        </p>
        {% endif %}
        <p class="post-tweet" title="Tweet It">
          <span class="icon-twitter"></span>
          <a href="https://twitter.com/intent/tweet?hashtags={{ p.tags | join: ',' | remove: ' ' }}&text={{ p.title | replace: '&amp;', '%26' | escape }}&url={{ url }}&via=smaxtastic">
            Tweet
            <span id="post-tweet-counter"></span>
          </a>
        </p>
      </div>
      {% if p.tags %}
      <p class="post-tags">
        {% for tag in p.tags %}
        <a href="/tagging#{{ tag }}" title="Posts tagged '{{ tag }}'">
          {{ tag }}
        </a>
        {% unless forloop.last %}<span class="sep">&bull;</span>{% endunless %}
        {% endfor %}
      </p>
      {% endif %}
    </header>

    <div class="post-content">
      {{ content }}
    </div>
  </div>
</article>

<script>
  function countTweets(res) {
    document.getElementById('post-tweet-counter').innerHTML = '(' + res.count + ')';
  }
</script>
<script src="http://cdn.api.twitter.com/1/urls/count.json?callback=countTweets&url={{ url }}"></script>
