$max-width: 60rem;

$color-bg: #fff;
$color-main: #222;
$color-attention: #000;
$color-subtle: #e5e5e5;
$color-note: #6f6f6f;
$color-highlight: #F64747;

$font-major: 'source sans pro', sans-serif;
$font-minor: 'volkhov', serif;
$font-mono: 'source code pro', monospace;
