---
layout: default
category: tagging
---

{% capture tags %}
  {% for tag in site.tags %}#{{ tag[0] }}{% endfor %}#
{% endcapture %}
{% assign sortedtags = tags | split: '#' | sort %}

<main>
  <ul class="postlist tags">
    {% for tag in sortedtags %}
      {% assign t = tag | downcase %}
      <li class="postlist-section" id="{{ t }}">{{ t }}</li>
      {% for p in site.tags[t] %}
      	<li class="postlist-entry">
          {% if p.category == 'external' %}
          <a href="{{ p.link }}" class="postlist-link">
            {{ p.title }} <span>&mdash; for </span> <b>{{ p.for }}</b>
          {% else %}
          <a href="{{ p.url | remove: '.html' }}" class="postlist-link">
            {% if p.category == 'reviewing' %}Review:{% endif %}
              {{ p.title }}
            {% endif %}
            <time datetime="{{ p.date | date: '%Y-%m-%d' }}">
              {{ p.date | date: '%B %-d, %Y' }}
            </time>
          </a>
      	</li>
      {% endfor %}
    {% endfor %}
  </ul>
</main>
